<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Resources.listener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.SpicejetHomePage"/>
       <class name="TestCases.SpiceClubPage"/>
       <class name="TestCases.SignUpPage"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
